*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background: linear-gradient(180deg, #009688 10%, #DADBD4 10%);
    height: 100vh;
    display: flex;
}

img {
    max-width: 100%;
}

#app {
    width: 90%;
    height: 95vh;
    margin: 30px auto;
    display: flex;
    /* DEBUG */
    background-color: lightcyan;
}

.contact {
    width: 30%;
    height: 100%;
    border-right: 1px solid lightgray;
    background-color: white;
}

.main-chat {
    width: 70%;
    background-image: url(../img/mine.jpg);
}

/* CONTACT SECTION */

.header-contact {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
}

.user {
    display: flex;
    align-items: center;
}

.my-avatar {
    width: 90px;
    border-radius: 50%;
    padding: 1rem;
}

.cta {
    margin-right: 10px;
    font-size: 1.6rem;
    color: gray;
}

.cta a i {
    padding: 15px;
}

/* NOTIFICHE */

.notification-desktop {
    background-color: #8edafd;
    display: flex;
    align-items: center;
    padding: 10px;
}

.notification-desktop a i {
    width: 70px;
    height: 70px;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8edafd;
}

.desktop {
    margin-left: 10px;
}

.desktop a {
    color: grey;
    text-decoration: underline;
}

/* INPUT  */

.search {
    padding: 1rem;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
}

.font-aw {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;
    height: 2rem;
}

.search input {
    width: 100%;
    height: 2rem;
    border-width: 0;
    outline: 0;
}

/* CHATS SECTION */

.chats-list {
    overflow-y: scroll;
    height: calc(100% - 250px);
}

.friends {
    border-top: 1px solid lightgray;
}

.profile {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.profile {
    display: flex;
    align-items: center;
}

.active {
    background: rgba(0, 0, 0, 0.3);
}

.profile img {
    width: 100px;
}

.date {
    position: absolute;
    top: 20px;
    right: 10px;
}

/* RIGHT SECTION  */

.chat {
    height: calc(100% - 170px);
    overflow-y: scroll;
    display: flex;
}

.container {
    width: 90%;
    margin: 20px auto;
}

.sms {
    max-width: 50%;
    min-width: 20%;
    border-radius: 10px;
    padding: 1rem 0.4rem;
    display: flex;
}

.white {
    background-color: white;
    margin-top: 50px;
    position: relative;
}

.green {
    background-color: #d5f9ba;
    /* height: 40px; */
    margin-top: 50px;
    margin-left: 50%;
    position: relative
}

.date {
    position: absolute;
    bottom: 0;
    right: 10px;
}


.message {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaea;
}

.emoji {
    font-size: 1.6rem;
    margin: 0 20px;
    color: gray;
}

.search-message {
    width: 100%;
    padding: 1rem;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
}

.search-message input {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    border-width: 0;
    outline: 0;
}
