<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- LINK VUE -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- LINK FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app">
        <!-- CONTACT SECTION -->
        <div class="contact">
            <div class="header-contact">
                <div class="user">
                    <img src="img/avatar_io.jpg" alt="" class="my-avatar">
                    <h3 class="my-name">Sofia</h3>
                </div>
                <div class="cta">
                    <a href="#">
                        <i class="fa-solid fa-circle-notch"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-message"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </a>
                </div>
            </div>
            <div class="notification-desktop">
                <a href="#">
                    <i class="fa-solid fa-bell-slash"></i>
                </a>
                <div class="desktop">
                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <div class="search">
                <div class="font-aw">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <label for="search-friend"></label>
                <input type="search" id="search-friend" placeholder="Cerca o inizia una nuova chat" v-model="friendSearch" @keyup="getFriend">
            </div>
            <div class="chats-list">
                <div class="users">
                    <div class="friends" v-for= "friend in contacts" v-show="friend.visible">
                        <div class="profile" @click="changeChat(friend)" :class="indexContact == friend ? 'active' : ''" >
                            <img :src="friend.avatar" alt="" class="my-avatar">
                            <div class="description">
                                <h3>{{friend.name}}</h3>
                                <p>Ultimo messaggio: {{ getLastMessage(friend) }}</p>
                            </div>
                            <div class="date">
                                <p>Ultimo accesso alle: 12:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CHAT SECTION -->
        <div class="main-chat">
            <div class="header-contact">
                <div class="user">
                    <img :src="newAvatar" alt="" class="my-avatar">
                    <div class="description">
                        <h3 class="my-name">{{ element.name }}</h3>
                        <p>Ultimo accesso oggi alle 12:00</p>
                    </div>
                </div>
                <div class="cta">
                    <a href="#">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-paperclip"></i>
                    </a>
                    <a href="#">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </a>
                </div>
            </div>
            <div class="chat">
                <div class="container">
                    <div class="sms" v-for="sms in newMessage" :class="sms.status == 'sent' ? 'green' : 'white' ">
                        <p>{{ sms.message }}</p>
                        <p class="date">{{ sms.date.substring(11).slice(0, - 3) }}</p>
                    </div>
                </div>
            </div>
            <div class="message">
                <div class="emoji">
                    <a href="#"><i class="fa-regular fa-face-smile"></i></a>
                </div>
                <div class="search-message">
                    <input ref="new_message_input" type="text" placeholder="Scrivi un messaggio" @keyup.enter="addNewMessageInput">
                </div>
                <div class="emoji">
                    <a href="#">
                        <i class="fa-solid fa-microphone"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>